*.html linguist-detectable=true
*.md   linguist-detectable=true
*.xml  linguist-detectable=true
*.yml  linguist-detectable=true
tools/*.wgdd.de.xml linguist-generated=true
_data/ui-text.yml   linguist-generated=true

.gitattributes	export-ignore
.gitignore	export-ignore
README.md	export-ignore
